.issues-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 1em;
  --p-icon-size: 1em;

  ::ng-deep {
    .p-inputtext {
      font-size: 1em;
    }

    .p-multiselect {
      width: 100%;
    }
  }

  &-btn {
    display: block;
    height: 35px !important;
    font-size: 1em !important;

    ::ng-deep {
      .p-togglebutton {
        font-size: 1em;
        height: 35px;
        border: unset;
      }
    }
  }

  &-accordion {
    ::ng-deep {
      .p-accordioncontent-content {
        padding: 0 !important;
      }
    }
  }
}
