<div class="issues-filter">
  <p-select
    class="issues-filter-select"
    placeholder="Проект"
    [options]="projects()?.projects"
    optionLabel="name"
    optionValue="id"
    [filter]="true"

    (onChange)="setFilter('project_id', $event.value)"
  />
  <p-select
    class="issues-filter-select"
    placeholder="Статус"
    [options]="statuses()?.issue_statuses"
    optionLabel="name"
    optionValue="id"
    appendTo="body"

    (onChange)="setFilter('status_id', $event.value)"
  />
  <p-select
    class="issues-filter-select"
    placeholder="Исполнитель"
    [disabled]="true"
  />
</div>
