.issues-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-size-b);
  border-bottom: var(--border-default);
  padding: var(--padding-size-b);

  font-size: 1em;
  --p-icon-size: 1em;

  ::ng-deep {
    .p-inputtext {
      font-size: 1em;
    }

    .p-multiselect {
      width: 100%;
    }
  }

  &-select {
    --p-select-padding-y: .5em;
    --p-multiselect-padding-y: .5em;
    --p-select-dropdown-width: 1.5em;
    --p-multiselect-dropdown-width: 1.5em;

    width: 10em;
  }
}
