.register-time {
  position: absolute;
  
  .header {
    display: grid;
    grid-template-areas: '. .';
    grid-template-columns: 1fr auto;
    width: 100%;
    align-items: center;
  }

  .actions {
    display: grid;
    grid-template-areas: '. . .';
    grid-template-columns: auto 1fr auto;
    width: 100%;
    align-items: center;
  }

  .form {
    display: grid;
    grid-template-areas: 'issue   time'
                         'comment comment';
    grid-template-columns: 1fr auto;
    gap: 2em 1em;
    padding: 1.5em 0;

    .issue {
      grid-area: issue;

      .value {
        display: grid;
        grid-template-areas: 'tag subject';
        grid-template-columns: 4em auto;
        align-items: center;

        gap: .2em;
        max-width: 400px;

        position: relative;
        top: -.2em;

        .tag {
          grid-area: tag;
          font-size: .5em;
        }

        .subject {
          grid-area: subject;
          word-wrap: break-word;
          word-break: break-word;
          white-space: wrap;
          overflow-wrap: break-word;
          hyphens: auto;
        }

        &.current {
          .subject {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .date {
      grid-area: date;
    }
    .time {
      grid-area: time;
      input {
        width: 100%;
      }
    }
    .comment {
      grid-area: comment;

      &.disabled {
        opacity: .4;
        pointer-events: none;
        color: var(--highlight-text-color);
      }

      #comment {
        width: 100%;
        min-height: 50px;
        max-height: 100px;
        resize: vertical;
      }
    }
  }
}


:host ::ng-deep {
  @layer primeng {
    .time .p-inputtext {
      width: 4.5em;
    }
    .p-dialog-content {
      overflow-y: unset;
    }
  }
}

