:host {
  height: 100%;

  ::ng-deep {
    //.ng-star-inserted {
    //  height: 100%;
    //}
  }
}

.title {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.issueView {
  height: 100%;

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &Content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'details details'
                         '.       .      '
                         'bottom  bottom ';
    grid-template-columns: 1fr .5fr;
    grid-template-rows: auto 1fr;
    gap: 1em;

    .title {
      color: var(--text-color-secondary)
    }

    .details-list {
      width: 100%;
      grid-area: details;
      display: flex;
      flex-direction: column;
      gap: .8em;
      align-items: stretch;
    }

    .details {
      display: grid;
      grid-template-areas: 'title       actions'
                           'description actions';
      grid-template-columns: 1fr auto;
      background: var(--surface-c);
      border-radius: var(--border-radius);
      padding: .6em;

      &Title {
        grid-area: title;
      }

      &Description {
        grid-area: description;
        padding: .3em;
      }

      &Actions {
        grid-area: actions;
        align-self: stretch;
        justify-self: stretch;
      }
    }

    .bottom {
      grid-area: bottom;

      display: grid;
      grid-template-areas: 'progress progress'
                           '.        redmine';
      gap: 1em;

      .progress {
        grid-area: progress;
      }

      .open-redmine {
        grid-area: redmine;
        justify-self: end;
      }
    }
  }
}
