<div class="container">
  @for (project of projectsPage; track $index) {
    <div class="project" (click)="openProject(project.id)">
      <div class="project-id">
        <p-tag
          [value]="project.id + ' | ' + project.identifier"
        />
      </div>
      <div class="project-name">
        {{ project['name'] }}
      </div>

      <div class="project-description">
        {{ project['description'] }}
      </div>
    </div>
  }
</div>

<rm-bottom-panel>
  <ng-template #start>
    <input pInputText placeholder="Поиск по имени" [(ngModel)]="search"/>
  </ng-template>

  <ng-template #end>
    <p-paginator [first]="1" [rows]="25" [totalRecords]="totalCount" (onPageChange)="changePageHandler($event)"></p-paginator>
  </ng-template>
</rm-bottom-panel>
