:host {
  //::ng-deep
}


.kanban {
  //width: 100%;
  height: 100%;
  padding: {
    top: 1em;
    left: .5em;
    right: .5em;
    bottom: .5em;
  };
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-flow:column;
  gap: 1em;
  overflow-x: auto;
  scrollbar-width: thin;

  .element {
    width: 100%;

    &.dragged {
      transform: rotate(5deg);
    }
  }

  .placeholder {
    display: block;
    width: 100%;
  }

  .drop-column {
    border: 1px solid transparent;
    transition: border-color .2s;

    &.p-draggable-enter {
      border-color: var(--primary-color);
    }
  }
}
