:host {
  //::ng-deep
}


.kanban {
  height: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;

  .element {
    width: 100%;

    &.dragged {
      transform: rotate(5deg);
    }
  }

  .placeholder {
    display: block;
    width: 100%;
  }

  .drop-column {
    border: 1px solid transparent;
    transition: border-color .2s;

  }
}
