:host {
  background: rgba(0, 0, 0, 0.06);
  //border-radius: var(--border-radius);
  //border: 1px solid var(--surface-border);

  &:nth-child(even) {
    background: rgba(255, 255, 255, 0.01);
  }

  &:last-child {
    width: 100%;
  }
}

.kanban-column {
  width: 300px;
  height: 100%;

  &.p-draggable-enter {
    background-color: var(--highlight-bg);
  }

  .title {
    padding: 1em;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 0.5em 0.5em;
    width: 300px;

    min-height: 4em;
  }
}
