<div class="issue-view">
  @if (issue() || !isLoading()) {
    <div
      class="issue-view-header"
    >
      <div
        class="issue-view-title"
        [innerText]="issue()?.subject"
      ></div>

      <button
        pButton
        text
        size="small"
        severity="secondary"

        icon="pi pi-pen-to-square"
      ></button>

      <button
        pButton
        text
        size="small"
        severity="secondary"

        [icon]="hideIcon()"
        (click)="toggleSidebarHidden()"
      ></button>
    </div>

    <div
      class="issue-view-content"
    >
      <p-scroll-panel [style]="{ height: '100%' }">
        <div class="issue-view-content-wrapper">
          <div class="issue-view-content-container">
            <div class="issue-view-content-description">
              <ym-textile-view [content]="issueDescription()"/>
            </div>

            @if (issueComments().length > 0) {
              <div class="issue-view-comments">
                <div class="issue-view-comments-label">
                  Комментарии
                </div>

                @for (comment of issueComments(); track comment) {
                  <div class="comment">
                    <div class="comment-user" [innerText]="comment.user.name"></div>

                    <div class="comment-date" [innerText]="comment.created_on | date:'short'"></div>

                    <div class="comment-content">
                      <ym-textile-view [content]="comment.notes"/>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </p-scroll-panel>
    </div>

    <div
      [ngClass]="{
        'issue-view-sidebar': true,
        'hidden': sidebarHidden()
      }"
    >
      <ym-issue-view-attributes [issue]="issue()!"/>

      <ym-issue-view-attachments [attachments]="issue()?.attachments"/>
    </div>
  } @else {
    <div class="issue-view-progress">
      <p-progress-spinner ariaLabel="loading" strokeWidth="1" />
    </div>
  }

</div>
