:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

.issue-view {
  //border-left: var(--border-default);
  //margin-left: var(--padding-size-d);
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background: var(--background-neutral);

  display: grid;
  grid-template-areas:
    "title sidebar"
    "content sidebar";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;

  &-header {
    grid-area: title;
    border-bottom: var(--border-default-light);
    border-right: var(--border-default);

    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-size: 1.1em;
    user-select: all;
    background: var(--background-neutral);
    padding: var(--padding-size-a);

    z-index: 1;
  }

  &-content {
    grid-area: content;
    overflow: auto;
    border-right: var(--border-default);
    background: var(--background-neutral);

    z-index: 1;

    &-wrapper {
      display: grid;
      grid-area: description;
      grid-template-columns: 1fr;
      grid-template-areas:
       'description';

      position: relative;
    }

    &-container {
      grid-area: container;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      //bottom: 0;
    }

    &-description {
      grid-area: description;
      width: 100%;
      padding: var(--padding-size-c);
    }
  }

  &-progress {
    height: 50em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-sidebar {
    grid-area: sidebar;
    display: grid;
    margin-left: var(--padding-size-d);
    border-left: var(--border-default);
    position: sticky;
    height: 100%;
    width: 25em;
    top: 0;

    grid-template-areas:
      'attributes'
      '.'
      'attachments';
    grid-template-rows: auto 1fr auto;
    animation: side-in-right .3s both ease-in-out;

    transition: margin-right 0.3s ease-out;

    &.hidden {
      margin-right: -25em;
    }
  }

  &-comments {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size-b);
    border-top: var(--border-default);
    margin: 1em 0;

    &-label {
      //margin-bottom: var(--gap-size-c);
      border-bottom: var(--border-default);
      padding: var(--padding-size-b);
      color: var(--secondary-content);
    }

    .comment {
      margin: 0 var(--gap-size-b);
      display: grid;
      grid-template-areas:
        'user date'
        'content content';
      grid-template-columns: 1fr auto;
      border: var(--border-default);

      &-user {
        grid-area: user;
        border-bottom: var(--border-default);
        padding: var(--padding-size-c);
      }
      &-date {
        grid-area: date;
        border-bottom: var(--border-default);
        padding: var(--padding-size-c);
        color: var(--secondary-content);
      }
      &-content {
        grid-area: content;
      }
    }
  }
}
