:host {
  display: grid;
  grid-template-columns: auto 1fr;
}

.issues-list-panel {
  display: block;
  height: 100%;
  width: 35em;

  animation: side-in-left .5s ease-out;
  background: var(--background);

  transition: .3s ease-out;

  .hide-toggle {
    position: absolute;
    right: 0;
    z-index: 20;
    width: 36px;
  }

  &.hidden {
    margin-left: calc((35em - 37px) * -1);

    .issues-list {
      transition: .3s ease-out;
      transform: translateX(-37px);
      content-visibility: hidden;
    }
  }
}

.issue-view {
  animation: view-in 1s;
  height: 100%;
  width: 100%;

  user-select: none;
}

@keyframes view-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

