:host {
  display: grid;
  grid-template-columns: auto 1fr;
}

.issues-list-panel {
  display: block;
  width: 35em;
  height: 100%;

  animation: side-in-left .5s ease-out;
  background: var(--background);
}

.issue-view {
  animation: view-in 1s;
  height: 100%;
  width: 100%;

  user-select: none;
}

@keyframes view-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

