:host {
  display: flex;
  height: 100%;
}

.login-panel {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size-b);

  width: 25rem;
  padding: var(--padding-size-a);
  padding-top: 5em;
  box-sizing: content-box;

  .api-key {
    width: 100%;
  }
}
