.textile {
  padding: var(--padding-size-b);
  font-size: 1em;
  line-height: 1.35em;
  user-select: text;

  white-space: wrap;
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  width: 100%;

  pre {
    border: var(--border-default-light);
    width: 100%;
    overflow: auto;
    font-size: .8em;
  }

  .image {
    display: block;
    margin: var(--padding-size-a) 0;
    z-index: 3;

    img {
      display: block;
      max-width: 100%;
      max-height: 30em;
      overflow: auto;
    }
  }

  a {
    color: var(--primary);
    padding-inline: .15em;
  }

  ul {
    padding-left: 1.8em;

    li {
    }
  }
}
