<p-dropdown
  optionValue="id"
  optionLabel="name"
  filterBy="name"
  placeholder="Select project"
  [options]="projects"
  [ngModel]="value"
  [style]="{width: '100%'}"
  (onChange)="changeHandler($event.value)"
>
  <ng-template pTemplate="selectedItem" let-selectedOption>
    <div class="flex align-items-center gap-2">
      <div>{{ selectedOption.name }}</div>
    </div>
  </ng-template>
  <ng-template let-country pTemplate="item">
    <div class="flex align-items-center gap-2">
      <div>{{ country.name }}</div>
    </div>
  </ng-template>
</p-dropdown>
