<p-dropdown [options]="projects" [ngModel]="value" optionValue="id" optionLabel="name" [filter]="true" filterBy="name" placeholder="Select project" (onChange)="changeHandler($event.value)" [style]="{width: '100%'}">
  <ng-template pTemplate="selectedItem" let-selectedOption>
    <div class="flex align-items-center gap-2">
      <div>{{ selectedOption.name }}</div>
    </div>
  </ng-template>
  <ng-template let-country pTemplate="item">
    <div class="flex align-items-center gap-2">
      <div>{{ country.name }}</div>
    </div>
  </ng-template>
</p-dropdown>
