:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-rows: auto 1fr;
}

.issues-list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: calc(100% + 110px);

  padding-bottom: 1em;

  &-wrapper {
    position: relative;

    ::ng-deep .p-scrollpanel-content {
      width: auto;
    }
  }

  &-end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;

    pointer-events: none;
  }

  .list-item {
    user-select: none;
    padding: 1.5em;

    cursor: pointer;
    content-visibility: auto;

    border-bottom: var(--border-default-light);
    flex-shrink: 0;

    text-decoration: none;
    position: relative;

    display: grid;
    grid-template-areas:
      'subject subject subject'
      'id      status  assigned';
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--gap-size-b);

    transition: background .5s;

    color: var(--primary-content);

    &-id {
      grid-area: id;
      font-weight: 400;
      color: var(--secondary-content);
    }

    &-status {
      grid-area: status;
      font-weight: 400;
      color: var(--secondary-content);
    }

    &-subject {
      grid-area: subject;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }

    &-assigned {
      grid-area: assigned;
      font-weight: 400;
      color: var(--secondary-content);
    }

    &.active {
      background: var(--active-background) !important;
      z-index: 1;

      position: sticky;
      top: 0;
      bottom: 0;

      &:hover {
        background: var(--p-primary-100);
        cursor: default;
      }
    }

    &:nth-child(2n+1) {
      //background: var(--background);
    }

    &:hover {
      background-color: var(--highlight-color);
    }
  }
}
