<div class="calendar-wrapper">
  <full-calendar
    #calendar
    class="calendar"
    [options]="calendarOptions"
  >

    <ng-template #dayCellContent let-arg>
      {{ arg.dayNumberText }}

      <div class="total-time">
        {{getFullHoursCountByDate(arg.date)}}ч
      </div>
    </ng-template>

    <ng-template #eventContent let-arg>
      <div class="time-entry">
        <div class="id">
          #{{ arg.event.extendedProps.issue.id }}
        </div>

        <div class="subject">
          {{ arg.event.title}}
        </div>

        <div>
          <p-tag
            icon="pi pi-clock"
            [value]="arg.event.extendedProps.hours + 'ч'"
          >
          </p-tag>
        </div>
      </div>
    </ng-template>
  </full-calendar>


  <rm-bottom-panel [loading]="isLoading">
    <div class="navigator">
      <p-button
        [label]="prevMonthName"
        size="small"
        icon="pi pi-chevron-left"

        [text]="true"

        (click)="prevMonth()"
      ></p-button>
      <p-button
        [label]="currentMonthName"
        [text]="true"
        [disabled]="true"
        [loading]="isLoading"
      ></p-button>
      <p-button
        [label]="nextMonthName"
        size="small"
        iconPos="right"
        icon="pi pi-chevron-right"

        [text]="true"
        [disabled]="isNextDisabled"

        (click)="nextMonth()"
      ></p-button>
    </div>

    <ng-template #end>

      <p-button
        icon="pi pi-refresh"

        [loading]="isLoading"
        [rounded]="true"
        [text]="true"
        [style]="{ height: '3em', width: '3em'}"
        (onClick)="updateTimeEntries()"
      />
    </ng-template>
  </rm-bottom-panel>

  <rm-time-entry-form
      #timeEntryForm

      (onChange)="updateTimeEntries()"
    />
</div>

