.calendar-wrapper {
  background: var(--surface-c);
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);

  margin-bottom: 6em;

  .time-entry {
    padding: 1em;
    background: rgba(153, 141, 110, 0.39);
    margin: .1em .5em;
    border-radius: var(--border-radius);

    display: grid;
    grid-template-areas: 'id      time'
                         'subject subject';
    gap: .2em;
    align-items: center;
    grid-template-columns: 1fr auto;

    &:hover {
      background: rgba(153, 141, 110, 0.5);
    }

    .id {
      grid-area: id;
    }

    .time {
      grid-area: time;
    }

    .subject {
      grid-area: subject;
      word-wrap: break-word;
      word-break: break-word;
      white-space: wrap;
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }

  .total-time {
     font-size: .8em;
  }

  .navigator {
    display: flex;
    gap: 2em;
    align-items: center;
  }
}

:host ::ng-deep {
  .fc-day {
    cursor: pointer;
  }
}
