@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "assets/full-calendar";
@import "assets/loading-panel";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-size: 14px;
  display: none;
}

.control {
  width: 100%
}

.p-scrollpanel-content {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

p {
  margin: .3em 0;
}

.required {
  &:before {
    content: '*';
    color: var(--red-500);
  }
}

.p-dialog-loading {
  .p-dialog {
    @extend .loading;
  }
}
