<div class="filters" [ngClass]="{ 'filters-static': static }">
  <form
    [formGroup]="filterForm"
    class="filters-form"
    [ngxsForm]="'issues.settings.kanbanFilters'"
    (submit)="filterChangeHandler()"
  >
    <p-toggleButton
      formControlName="isMy"
      onLabel="Мои"
      offLabel="Все"
    ></p-toggleButton>

    <input formControlName="tag" pInputText placeholder="Метка"/>
  </form>

  <div class="filters-actions">
    <ng-container *ngTemplateOutlet="actions"/>
  </div>
</div>
